---
import { Icon } from "astro-icon/components";
---

<header transition:persist>
  <div
    class="max-w-xl mx-auto flex justify-between items-center my-2 gap-4 text-center"
  >
    <button
      type="button"
      id="theme-toggle"
      class="invisible border border-transparent hover:bg-gray-300/10 hover:border-gray-200/20 rounded-lg p-2 cursor-pointer transition-colors ease-in-out duration-300"
    >
      <span class="dark:block hidden">
        <Icon name="moon" size={25} class="text-gray-500" />
      </span>
      <span class="dark:hidden block">
        <Icon name="sun" size={25} class="text-gray-500" />
      </span>
    </button>
    <div class="select-none">
      <h1 class="lg:text-3xl text-2xl font-bold uppercase">Wordlex</h1>
    </div>
    <div
      class="invisible border border-transparent hover:bg-gray-300/10 hover:border-gray-200/20 rounded-lg cursor-pointer transition-colors ease-in-out duration-300"
    >
      <a href="/ranking" class="flex items-center p-2">
        <Icon name="trending-up" size={25} class="text-gray-500" />
      </a>
    </div>
  </div>
</header>

<script>
  const themeToggle = document.querySelector("#theme-toggle");

  themeToggle?.addEventListener("click", () => {
    const html = document.documentElement;
    if (html.classList.contains("dark")) {
      html.removeAttribute("class");
    } else {
      html.classList.add("dark");
    }
  });
</script>
